@import "../../../color-variables.scss";

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $bg-secondary;
  padding: 40px 70px;
  color: #fff;
  h3 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
  }

  .text {
    flex: 1;
  }

  form {
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    label {
      font-size: 12px;
    }
    input {
      border: none;
      background: none;
      border-bottom: 1px solid #fff;
      height: 60px;
      width: 100%;
      margin-bottom: 40px;
    }
  }
  .button {
    text-align: center;
  }
}

@media (min-width: 1080px) {
  .form-section {
    flex-direction: row;
    gap: 115px;
    padding: 40px 120px;
  }
}
